
<div class="container">
    <div class="row">
        <div class="col-md-6 m-auto" style="background-color:beige">
            <p class="text-center text-muted">© Copyright 2018 AGTuts</p>
        </div>  
    </div>
</div>