<ul class="nav nav-pills justify-content-center" style="background-color:beige; padding:30px">
    <li class="nav-item">
        <a class="nav-link" href="intuts">Intro</a>      
    </li>  
    <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Circle</a>
          <div class="dropdown-menu">
              <a class="dropdown-item" href="edituts">Circle Definition</a>
              <a class="dropdown-item" href="solcir">Circle Solving</a>
          </div>        
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Parabola</a>
          <div class="dropdown-menu">
              <a class="dropdown-item" href="defpar">Parabola Definition</a>
              <a class="dropdown-item" href="solpar">Parabola Solving</a>
          </div>        
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Ellipse</a>
          <div class="dropdown-menu">
              <a class="dropdown-item" href="defell">Ellipse Definition</a>
              <a class="dropdown-item" href="solell">Ellipse Solving</a>
          </div>        
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Hyperbola</a>
          <div class="dropdown-menu">
              <a class="dropdown-item" href="defhyp">Hyperbola Definition</a>
              <a class="dropdown-item" href="solhyp">Hyperbola Solving</a>
          </div>        
      </li>
  </ul>
  