<nav class="nav nav-pills nav-justified">
    <a class="nav-item nav-link" href="editquiz">Circle</a>
    <a class="nav-item nav-link" href="quizpar">Parabola</a>
    <a class="nav-item nav-link" href="quizell">Ellipse</a>
    <a class="nav-item nav-link" href="quizhyp">Hyperbola</a>
</nav>